<footer class="footer">
  <div class="container grid grid--footer">
    <div class="logo-col">
      <a href="#" class="footer-logo">
        <img
          class="logo"
          alt="Omnifood logo"
          src="../../../assets/delivery-logo.jpg"
        />
      </a>

      <p class="copyright">
        Copyright &copy; 2023 by Edy Transport llc, Inc. All rights reserved.
      </p>
    </div>
    <div class="address-col">
      <p class="footer-heading">Contact us</p>
      <address class="contacts">
        <p class="address">Miami, Florida ,33175</p>
        <p>
          <a class="footer-link" href="tel:786-760-3125">786-760-3125</a><br />
          <a class="footer-link" href="mailto:hello@omnifood.com"
            >dredysteam@gmail.com</a
          >
        </p>
      </address>
    </div>

    <nav class="nav-col">
      <p class="footer-heading">Company</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">About Edy Transport llc</a></li>
        <li><a class="footer-link" href="#">For Business</a></li>
        <li><a class="footer-link" href="#">Cargo Delivery partners</a></li>
        <!-- <li><a class="footer-link" href="#">Careers</a></li> -->
      </ul>
    </nav>
  </div>
</footer>
