<section class="section-hero">
  <div class="hero">
    <div class="hero-text-box">
      <h1 class="heading-primary">
        Fast and Reliable Cargo Delivery Service in Miami
      </h1>
      <p class="hero-description">
        Need to send cargo anywhere? We've got you covered! With our cargo
        delivery service, transporting your goods and merchandise has never been
        easier.We take your cargo directly from your location to the final
        destination.Keep an eye on your shipments while they're in transit. Our
        team is highly trained to handle all types of cargo, big or small.We
        understand the importance of time. We meet established delivery
        deadlines.Get quality service at a price that fits your budget.
      </p>
      <a routerLink="/quotation" class="btn btn--full margin-right-sm"
        >Place Your Order Today!</a
      >
      <a routerLink="/howitworks" class="btn btn--outline">Learn more &darr;</a>
    </div>
    <div class="hero-img-box">
      <img
        src="../../../../assets/boxtruck-1.jpg"
        alt="Boxtruck delivering cargo"
        class="hero-img"
      />
    </div>
  </div>
</section>
