<section class="section-hero">
  <div class="hero">
    <div class="hero-text-box">
      <h1 class="heading-primary">The best Cargo Delivery service in Miami</h1>
      <p class="hero-description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel odio
        facere animi hic sit placeat deserunt, quasi aliquid facilis accusamus
        rerum esse error voluptatibus adipisci. Magni consequuntur reprehenderit
        esse commodi!
      </p>
      <a routerLink="/quotation" class="btn btn--full margin-right-sm"
        >Start quote</a
      >
      <a href="" class="btn btn--outline">Learn more &darr;</a>
    </div>
    <div class="hero-img-box">
      <img
        src="../../../../assets/boxtruck-1.jpg"
        alt="Boxtruck delivering cargo"
        class="hero-img"
      />
    </div>
  </div>
</section>
