<section class="section-orders">
  <div class="orders">
    <h2 class="heading-secondary">Orders</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Company</th>
          <th>Commodity</th>
          <th>Freight type</th>
          <th>Pickup Date</th>
          <th>Pickup Zip</th>
          <th>Delivery Zip</th>
          <th>Phone number</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button>Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
