<section class="section-orders">
  <div class="orders" *ngIf="orders$ | async as orders; else loading">
    <h2 class="heading-secondary">Orders</h2>

    <div class="list-item-header">
      <p>Company</p>
      <p>Commodity</p>
      <p>Freight type</p>
      <p>Pickup Date</p>
      <p>Pickup Zip</p>
      <p>Delivery Zip</p>
      <p>Phone number</p>
      <p>Status</p>
    </div>

    <app-list-item
      *ngFor="let order of orders"
      [item]="order"
      (update)="updateOrder($event)"
      >>
    </app-list-item>
  </div>
  <ng-template #loading>
    <div class="message">
      <img src="../../../../assets/loading-80.png" />
      Fetching orders...
    </div>
  </ng-template>
</section>
