<div [formGroup]="parent" class="quotation-form-item">
  <div formGroupName="aditionalInfo" class="flex-y-container">
    <h3 class="heading-terciary">Additional Shipping Information</h3>
    <label>Company:</label>
    <input type="text" formControlName="company" />
    <small class="error" *ngIf="required('company')">Company is required</small>
    <label>Email:</label>
    <input type="text" formControlName="email" />
    <label>Phone:</label>
    <input type="text" formControlName="phone" />
    <label>Commodity:</label>
    <input type="text" placeholder="e.g food" formControlName="commodity" />
    <label for="total-weight">Total Weight:</label>
    <input type="number" formControlName="totalWeight" />

    <label>Freight Type:</label>
    <select formControlName="freightType">
      <option value="Dry Van">Dry Van</option>
      <option value="Refrigerated">Refrigerated</option>
    </select>
  </div>
</div>
