.btn-add-stock {
  background-color: #fdf2e9;
  /* color: #fff;    */
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  border-radius: 9px;
  text-decoration: none;
  /* display: inline-block; */

  /* transition: background-color 0.3s; */
}
