<div [formGroup]="parent" class="quotation-form-item">
  <div formGroupName="selector" class="flex-y-container">
    <div class="flex-y-container-center">
      <label>Pallet Type:</label>
      <select formControlName="type">
        <option value="">Please choose one option:</option>
        <option *ngFor="let item of palletTypes" [value]="item.id">
          {{ item.type }}
        </option>
      </select>
    </div>

    <div class="flex-y-container-center">
      <label>Pallet Height:(inches)</label>
      <input type="number" formControlName="high" />
    </div>

    <div class="flex-y-container-center">
      <label>Pallet Quantity:</label>
      <input type="number" formControlName="quantity" />
    </div>

    <a class="btn-add-stock" (click)="onAdd()">Add stock</a>

    <!-- <label class="step-description" for="temperature">Temperature:</label>
    <input
      class="step-description"
      type="text"
      id="temperature"
      name="temperature"
    /> -->
    <!-- <label class="step-description" for="contact-number"
      >Contact Number:</label
    >
    <input
      class="step-description"
      type="tel"
      id="contact-number"
      name="contact-number"
      required
    /> -->
  </div>
</div>
