<section class="section-how">
  <div class="container">
    <span class="subheading">How it Works</span>
    <h2 class="heading-secondary">Your delivery cargo in 3 simple steps</h2>
  </div>
  <div class="container grid grid--2-cols grid--center-v">
    <!-- STEP 1 -->
    <div class="step-text-box">
      <p class="step-number">01</p>
      <h3 class="heading-terciary">GET A QUOTE</h3>
      <p class="step-description">
        Make a pre-quote, put your contact information and a representative will
        immediately contact you.
      </p>
    </div>
    <div class="step-img-box">
      <img
        src="../../../../assets/representative-1.png"
        class="step-img"
        alt="IPhone app preference selection screen"
      />
    </div>
    <!-- STEP 2 -->
    <div class="step-img-box">
      <img
        src="../../../../assets/tracking.png"
        class="step-img"
        alt="IPhone app meal aproving plan"
      />
    </div>
    <div class="step-text-box">
      <p class="step-number">02</p>
      <h3 class="heading-terciary">THE JOURNEY BEGINS</h3>
      <p class="step-description">
        After you agree on the quote, a carrier will arrive to your cargo’s
        location and pick up your goods to be moved.
      </p>
    </div>
    <!-- STEP 3 -->
    <div class="step-text-box">
      <p class="step-number">03</p>
      <h3 class="heading-terciary">YOUR GOODS ARE MOVED</h3>
      <p class="step-description">
        Your shipment will be transported to the final destination. We will
        update you on the status of your shipment during its journey.
      </p>
    </div>
    <div class="step-img-box">
      <img
        src="../../../../assets/pallet.png"
        class="step-img"
        alt="IPhone app preference selection screen"
      />
    </div>
  </div>
</section>
