<div [formGroup]="parent">
  <div formArrayName="stockPallets">
    <table class="table" *ngIf="pallets.length > 0">
      <thead>
        <tr>
          <th>Pallet Type</th>
          <th>Height</th>
          <th>Quantity</th>
        </tr>
      </thead>

      <tbody *ngFor="let item of pallets; let i = index">
        <tr [formGroupName]="i">
          <td>{{ item.value.type }}</td>
          <td>{{ item.value.high }}</td>
          <td>{{ item.value.quantity }}</td>
          <td>
            <button (click)="onRemove(item.value, i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
